name: build
on: [pull_request, push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
    steps:
      - uses: actions/checkout@v2
      - run: |
           docker build -f py.Dockerfile \
             --build-arg PYTHON_VERSION=${{ matrix.python-version }} \
             --tag minigrid-docker .      
      - name: Run tests
        run: docker run minigrid-docker pytest
      - name: Run doctest
        run: docker run minigrid-docker pytest --doctest-modules minigrid/
